extends layout 

block layout-content  

    div.Header
    
        <nav class=Header-inner>
            
            div.logo-left
                <h4 class ="logo"> Cole's Fitness Center </h4>
            div
                div.nav
                    <ul class="navLinks">
                        
                        <li><a href = "home"> Home Page </a></li>
                        <li><a href = "myProgram"> My Program </a></li>
                        <li><a href = "blog"> Blog </a></li>
                        
                    </ul>
                    div.buttonLayout
                        <button class="btnContact"><span class = "buttonSpan"></span> Contact </button>
            
        </nav>
    div.blog-wrapper  
        div.body
            h3 Cole's Corner  
            p.par Have any questions, comments, or rants that you need to get off your chest?<br> Please leave a comment in our blog section! 
                div.name 
                    <input type = "text" name = "blogName" size = 20 required ="required">
                    <span class = "inputName">Name</span>
                    <span class = "errorMsg" id = "formError"></span>
                    
            
            div.textArea
                <textarea class = "txtAreaBlog" name = "blogPost" placeholder = "Enter message here..."></textarea>
            
            div.blogButtons
                <button class="btnPost"><span class = "buttonSpan"></span> Post </button>
                <button class="btnClear"><span class = "buttonSpan"></span> Clear </button>
            
            div.blog-container
                div.blogPost 
                    div.postName
                        p Cole
                    div.post
                        p Hello
                        

    div.footer


    link(rel='stylesheet', href='/stylesheets/design.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/blog.css' , type = 'text/css')
    script(src="/javascripts/blog.js")
