extends layout 

block layout-content 

    div.Header
    
        <nav class=Header-inner>
            
            div.logo-left
                <h4 class ="logo"> Cole's Fitness Center </h4>
            div
                div.nav
                    <ul class="navLinks">
                        
                        <li><a href = "cole"> Home Page </a></li>
                        <li><a href = "myProgram"> My Program </a></li>
                        <li><a href = "blog"> Blog </a></li>
                        
                    </ul>
                    div.button 
                        <button><span></span> Contact </button>
            
        </nav>
    div.blog-wrapper  
        div.body
            h3 Cole's Corner  
            p.par Have any questions, comments, or rants that you need to get off your chest? Please leave a comment in our blog section! 
                p.name Name: 
                    <input type = "text" name = "txtName" size = 20 >      
            
            div.textArea
                <textarea name = "comments" rows = 8 cols = 60> </textarea>
            
            div.blogButtons
                <button class="btnPost"><span></span> Post </button>
                <button class="btnClear"><span></span> Clear </button>
            
            div.blog-container
                div.blogPost 
                    div.postName
                        p Cole
                    div.post
                        p Hello
                        




    link(rel='stylesheet', href='/stylesheets/design.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/blog.css' , type = 'text/css')
    script(src="/javascripts/blog.js")
