extends layout

block layout-content
         
    div.Header
    
        <nav class=Header-inner>
            
            div.logo-left
                <span class ="logo"> Cole's Fitness Center </span>
            div
                div.nav
                    <ul class="navLinks">
                        
                        <li><a href = "cole"> Home Page </a></li>
                        <li><a href = "myProgram"> My Program </a></li>
                        <li><a href = "blog"> Blog </a></li>
                        
                    </ul>
                    div.button 
                        <button> Contact </button>
            
        </nav> 
    
    link(rel='stylesheet', href='/stylesheets/design.css', type='text/css')           
     
    
   
        