extends layout

block layout-content
    div.banner
         
        div.Header
            link(rel='stylesheet', href='/stylesheets/design.css', type='text/css')
            <h1> Cole's Fitness Page </h1>

                <ul>
                    <li><a href = "cole"> Home Page </a></li>
                    <li><a href = "myProgram" > My Program </a> </li>
                    <li><a href = "blog"> Blog </a></li>
                </ul>
                //- ex: <a href = "myProgram.pug"> how to go to the next page 
    
                
     
    
   
        