extends layout

block layout-content
         
    div.Header
    
        <nav class=Header-inner>
            
            div.logo-left
                <h4 class ="logo"> Mara's Soccer Corner </h4>
            div
                div.nav
                    <ul class="navLinks">
                        
                        <li><a href = "home"> Home Page </a></li>
                        <li><a href = "myProgram"> My Program </a></li>
                        <li><a href = "blog"> Blog </a></li>
                        
                    </ul>
                    div.buttonLayout
                        <button class="btnAdd"><span class = "buttonSpan"></span> Add Drill</button>
            
        </nav>           
     
    
   
        