extends layout 

block layout-content
    div.banner
         
     div.Header
        link(rel='stylesheet', href='/stylesheets/design.css', type='text/css')
        link(rel='stylesheet', href='/stylesheets/myProgram.css', type='text/css')
        <h1> My Program </h1>

            <ul>
                <li><a href = "cole"> Home Page </a></li>
                <li><a href = "myProgram"> My Program </a></li>
                <li><a href = "blog"> Blog </a></li>
            </ul>
                //- ex: <a href = "myProgram"> how to go to the next page 
        div.routine 
            .container  
                .row.center     
                    .col
                        <h3> Push </h3>
                        p Bench Press 3x8
                        <img class="static" src="/images/BenchPressimg.jpg"> <img class="active" src="/images/BenchPress.gif">
                        p Incline Bench Press 3x8
                        p Shoulder Press 3x8
                        p Lateral Raises 3x8
                        p Flys(Machine or Bench) 3x8
                        p Tricep Pull Downs 3x8
                        p Dips 3x Max
                        p Skull Crusher 3x8
                    .col
                        <h3> Pull </h3>
                        p Deadlift 3x8 
                        p Pull Ups 3x Max 
                        p Dumbbell Bicep Curls 3x8
                        p Hammer Curls 3x8
                        p Incline Bench Curls 3x8
                        p Barbell Curls 3x8
                        p Wide grip Lat Pull Downs 3x8
                        p Close Grip Lat Pull Downs 3x8
                        p Rows 3x8
                        p Shrugs 3x8
                        p Lat Pull Overs 3x8
                    .col
                        <h3> Legs </h3> 
                        p Back Squats 3x10-15
                        p Front Sqauts 3x10-15
                        p Leg Press 3x10
                        p Hamstring Curls 3x10-15
                        p Quad Extenstions 3x10-15
                        p Dumbbell Lounges 3x10-15
                        p Calf Raises 3x20
                        p Bulgarian Split Squats 3x8



        


    

