extends layout 

block layout-content
    //- div.banner
        
            
    div.Header
    
        <nav class=Header-inner>
            
            div.logo-left
                <h4 class ="logo"> Cole's Fitness Center </h4>
            div
                div.nav
                    <ul class="navLinks">
                        
                        <li><a href = "home"> Home Page </a></li>
                        <li><a href = "myProgram"> My Program </a></li>
                        <li><a href = "blog"> Blog </a></li>
                        
                    </ul>
                    div.buttonLayout 
                        <button class="btnContact"> <span class = "buttonSpan"></span>Contact </button>
            
        </nav>


    
    div.routine 
        h1 My Program
        div.routine-inner   
            div.push
                <h3> Push </h3>
                p Bench Press
                <img class="static" src="/images/BenchPressimg.jpg"> <img class="active" src="/images/BenchPress.gif">
                p Incline Bench Press
                <img class="static" src="/images/InclineBenchimg.jpg"> <img class="active" src="/images/InclineBench.gif">
                p Shoulder Press
                <img class="static" src="/images/ShoulderPressIMG.jpg"> <img class="active" src="/images/ShoulderPress.gif">
                p Lateral Raises
                <img class="static" src="/images/LaterRaisesIMG.jpg"> <img class="active" src="/images/LateralRaises.gif">
                p Flys(Machine or Bench)
                <img class="static" src="/images/flyIMG.jpg"> <img class="active" src="/images/fly.gif">
                p Tricep Pull Downs
                <img class="static" src="/images/tricepPullDownIMG.jpg"> <img class="active" src="/images/tricepPullDown.gif">
                p Dips
                <img class="static" src="/images/dipsIMG.jpg"> <img class="active" src="/images/dips.gif">
                p Skull Crusher
                <img class="static" src="/images/skullCrushersIMG.jpg"> <img class="active" src="/images/skullCrushers.gif">
                    
            div.pull
                <h3> Pull </h3>
                p Deadlift
                <img class="static" src="/images/DeadlifImg.jpg"> <img class="active" src="/images/Deadlift.gif">
                p Pull Ups
                <img class="static" src="/images/PullUpsImg.jpg"> <img class="active" src="/images/PullUps.gif">
                p Dumbbell
                <img class="static" src="/images/BicepCurlImg.jpg"> <img class="active" src="/images/BicepCurl.gif">
                p Hammer
                <img class="static" src="/images/HammerCurlImg.jpg"> <img class="active" src="/images/HammerCurl.gif">
                p Incline
                <img class="static" src="/images/InclineCurlImg.jpg"> <img class="active" src="/images/InclineCurl.gif">
                p Barbell Curls
                <img class="static" src="/images/BarbellCurlsImg.jpg"> <img class="active" src="/images/BarbellCurls.gif">
                p Wide grip Lat Pull Downs
                <img class="static" src="/images/LatPulldownImg.jpg"> <img class="active" src="/images/LatPulldown.webp">
                p Close Grip Lat Pull Downs
                <img class="static" src="/images/CloseGripLatImg.jpg"> <img class="active" src="/images/CloseGripLat.gif">
                p Rows
                <img class="static" src="/images/RowsImg.jpg"> <img class="active" src="/images/Rows.gif">
                p Shrugs
                <img class="static" src="/images/ShrugsImg.jpg"> <img class="active" src="/images/Shrugs.gif">
                p Lat Pull Overs
                <img class="static" src="/images/LatPulloverImg.jpg"> <img class="active" src="/images/LatPullover.gif">
                    
            div.legs
                <h3> Legs </h3> 
                p Back Squats
                <img class="static" src="/images/InclineCurlImg.jpg"> <img class="active" src="/images/InclineCurl.gif">
                p Front Sqauts
                <img class="static" src="/images/InclineCurlImg.jpg"> <img class="active" src="/images/InclineCurl.gif">
                p Leg Press
                <img class="static" src="/images/InclineCurlImg.jpg"> <img class="active" src="/images/InclineCurl.gif">
                p Hamstring Curls
                <img class="static" src="/images/InclineCurlImg.jpg"> <img class="active" src="/images/InclineCurl.gif">
                p Quad Extenstions
                <img class="static" src="/images/InclineCurlImg.jpg"> <img class="active" src="/images/InclineCurl.gif">
                p Dumbbell Lounges
                <img class="static" src="/images/InclineCurlImg.jpg"> <img class="active" src="/images/InclineCurl.gif">
                p Calf Raises
                <img class="static" src="/images/InclineCurlImg.jpg"> <img class="active" src="/images/InclineCurl.gif">
                p Bulgarian Split Squats
                <img class="static" src="/images/InclineCurlImg.jpg"> <img class="active" src="/images/InclineCurl.gif">

    div.footer
        


    link(rel='stylesheet', href='/stylesheets/design.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/myProgram.css', type='text/css')



        


    

