
/* header styling */
.Header{
    /*display:flex;*/
    
    /* justify-content: flex-end;
    align-items: center;
    padding: 30px 10%; */
    background-color: rgb(32, 31, 31);
    position:sticky;
    top:0;
    width:100%;
    z-index: 1;
}
.Header-inner{
    overflow:hidden;
    margin:10px 10px 10px 10px;
    height:40px;
    display:flex;
    justify-content: flex-end;
}

.logo-left{
    align-items: center;
    margin-right:auto;
}

.nav{
    display:flex;
    flex-wrap:wrap;
    margin-right:15px;
}

.navLinks{
    margin:0;
    padding-top:4px;
}

.logo{
    /* margin-right:auto; */
    color: rgb(20, 227, 227);
    cursor:pointer;
}
.Header h1{
    color: rgb(20, 227, 227);
}
.Header ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
    position: relative;
}

.Header ul li a{
    text-decoration: none;
    color: #fff;
}

.Header ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: rgb(20, 227, 227);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.Header ul li:hover::after{
    width: 100%;
}
.buttonLayout{
    padding-top:4px;
}

button{
    width:92px;
    margin-left: 20px;
    padding: 2px 12px;
    background: transparent;
    border: 2px solid rgba(20,227,227,.5);
    border-radius: 25px;
    cursor:pointer;
    /* transition: all 0.3s ease 0s; */
    color: #fff;
    text-align: center;
    /* align-items: center; */
    font-family: sans-serif;
    /* border-color: darkgrey; */
    /* font-weight: bold; */
    position: relative;
    overflow: hidden;
    align-items:center;
}

.buttonSpan{
    background: rgba(20,227,227,.8);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition:0.5s;
}

button:hover .buttonSpan{
    width: 100%;
}

button:hover{
    border: none;
}

/* modal styling */
.modalContainer{
    width:100%;
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    
}

.popup{
    width:600px;
    height:400px;
    background-color: rgb(32, 31, 31);
    border-radius: 6px;
    position:fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%)scale(0.1);
    text-align:center;
    align-items: center;
    padding:20px;
    visibility: hidden;
    transition: transform 0.7s, top 0.7s;
}

.open-modal{
    visibility:visible;
    top:50%;
    transform: translate(-50%,-50%)scale(1);
}

.contactHeader h3{
    color:rgb(20, 227, 227);
    text-transform: none;
    font-family: serif;
    font-size: 40px;
}

/* modal textbox styling */
.textBoxs{
    color:#fff;
    padding:5px;
    position: relative;
    /* float:left; */
    display:flex;
    justify-content:center;
    align-items: center;
}

.textBoxs input{
    border-radius:5px;
    background:transparent;
    outline: none;
    color:#fff;
    border: 1.5px solid rgba(255,255,255,0.25);
    padding:5px;
    margin:10px;
    height:35px;
    width:238px;
    transition: all 0.7s;
}


.textBoxs input:hover{
    cursor:pointer;
    
}
.textBoxs input:focus{
    cursor:text;
}

.textBoxs input:focus::placeholder{
    color:rgb(20, 227, 227);
    transition:all 0.7s;
}

.textBoxs input:valid,
.textBoxs input:focus{
    border:1.5px solid rgb(20, 227, 227);
}

/* modal textarea styling */
.textareaContainer{
    margin-bottom:5px;
}


.txtAreaEmail{
    background-color: transparent;
    color:#fff;
    padding:1em;
    border-radius: 10px;
    border: 2px solid rgb(72, 71, 71);
    outline:none;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.4;
    width:500px;
    height:200px;
    transition: all 0.7s;
    resize: none;
}

.txtAreaEmail:hover{
    cursor:pointer;
}

.txtAreaEmail:focus{
    cursor:text;
    border-color:rgb(20, 227, 227);
}

.txtAreaEmail:focus::placeholder{
    color:rgb(20, 227, 227);
    transition:all 0.7s;
}