.banner{
    
      
}  

.Header{
    /*display:flex;*/
    
    /* justify-content: flex-end;
    align-items: center;
    padding: 30px 10%; */
    background-color: rgb(32, 31, 31);
    position:sticky;
    top:0;
    width:100%;
    z-index: 1;
    
}
.Header-inner{
    overflow:hidden;
    margin:15px 10px 10px 10px;
    height:35px;
    display:flex;
    justify-content: flex-end;
}

.logo-left{
    align-items: center;
    margin-right:auto;
}

.nav{
    display:flex;
    flex-wrap:wrap;
    margin-right:15px;
}

.logo{
    /* margin-right:auto; */
    color: rgb(20, 227, 227);
    cursor:pointer;
}
.Header h1{
    color: rgb(20, 227, 227);
}
.Header ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
    position: relative;
}

.Header ul li a{
    text-decoration: none;
    color: #fff;
}

.Header ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: rgb(20, 227, 227);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.Header ul li:hover::after{
    width: 100%;
}

button{
    width:92px;
    margin-left: 20px;
    padding: 2px 20px;
    background: transparent;
    border: 2px solid rgba(20,227,227,1);
    border-radius: 25px;
    cursor:pointer;
    /* transition: all 0.3s ease 0s; */
    color:rgb(214, 214, 214);
    text-align: center;
    /* align-items: center; */
    font-family: -webkit-body;
    /* border-color: darkgrey; */
    font-weight: bold;
    position: relative;
    overflow: hidden;
    
}

span{
    background: rgba(20,227,227,1);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition:0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}