.routine{
    color: #fff;
    /* background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(/images/gym.jpg); */
    justify-content: space-between;
    align-items: center;
    margin-top:40px;
}

h1{
    text-align: center;
    padding-bottom: 30px;
    color:rgb(20, 227, 227);
    font-family: sans-serif;
}
.routine-inner{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(310px,1fr));
    position: relative;
    justify-content: center;
    max-width: 1200px;
    margin:0 auto;
    text-align: center;
}
.routine h3{
    color:rgb(20, 227, 227);
    font-family:sans-serif;
}

p{
    margin-top:10px;
    margin-bottom:0;
}
.routine img{
    height: 150px;
    width: 200px;
}
.static{
    position: absolute;
    background: white;
}
.static:hover{
    opacity: 0;
}
.push{
    
}

.footer{
    padding:20px;
}